Repository huytquach-snyk/snyk-to-html, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/boost, @snyk/hammer, @snyk/group-infrastructure-as-code, @snyk/nebula

.github/CODEOWNERS:

* @snyk/boost
* @snyk/hammer
template/iac/* @snyk/group-infrastructure-as-code
template/code/* @snyk/nebula

Block level marker
  template/code/test-report.inline-css.hbs
Owners: @snyk/nebula

Fixed file issue and added logic for multi-line highlight
  src/lib/codeutil.ts
  template/code/test-report.code-snip.hbs
Owners: @snyk/hammer, @snyk/nebula

Fixed overflow for lengthy dataflow code
  template/code/test-report.inline-css.hbs
Owners: @snyk/nebula

initial formatting of displayblock
  template/code/test-report.code-snip.hbs
  template/code/test-report.inline-css.hbs
Owners: @snyk/nebula

Async version of file access
  src/lib/codeutil-async.ts
Owners: @snyk/hammer

Move first line content on top in case of block marker
  template/code/test-report.code-snip.hbs
  template/code/test-report.inline-css.hbs
Owners: @snyk/nebula

using nodebuiltin readline and handles large number of files
  src/lib/codeutil-async.ts
  src/lib/snyk-to-html.ts
Owners: @snyk/hammer

Added the await
  src/lib/snyk-to-html.ts
Owners: @snyk/hammer

White space - nowrap for dataflow code.
  template/code/test-report.inline-css.hbs
Owners: @snyk/nebula
